[Desktop Entry]
Version=1.0
Type=Application
Name=Facebook
Comment=
Exec=webbox https://web.facebook.com/login /data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/fb_logo.png Facebook 600 300 /data/data/com.termux/files/usr/lib/webbox_lib/cookies_webbox/cookies_fb.txt
Icon=/data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/fb_logo.png
Path=
Terminal=false
StartupNotify=false
