[Desktop Entry]
Version=1.0
Type=Application
Name=Github
Comment=
Exec=webbox https://github.com/login /data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/gh_logo.png Github 600 400 /data/data/com.termux/files/usr/lib/webbox_lib/cookies_webbox/cookies_gh.txt
Icon=/data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/gh_logo.png
Path=
Terminal=false
StartupNotify=false
