[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=open web telegram
Exec=webbox https://web.telegram.org/ /lib/webbox_lib/icon_webbox/teleg_logo.png Telegram 600 400 /lib/webbox_lib/cookies_webbox/cookies_teleg.txt
Icon=/lib/webbox_lib/icon_webbox/teleg_logo.png
Path=
Terminal=false
StartupNotify=false
