[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp
Comment=
Exec=webbox https://web.whatsapp.com /lib/webbox_lib/icon_webbox/wa_logo.png WhatsApp-Web 600 400 /lib/webbox_lib/cookies_webbox/cookies_wa.txt
Icon=/lib/webbox_lib/icon_webbox/wa_logo.png
Path=
Terminal=false
StartupNotify=false
