[Desktop Entry]
Version=1.0
Type=Application
Name=Google Search
Comment=
Exec=webbox https://google.com /data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/gg_logo.png Google 700 500 /data/data/com.termux/files/usr/lib/webbox_lib/cookies_webbox/cookies_gg.txt
Icon=/data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/gg_logo.png
Path=
Terminal=false
StartupNotify=false
