[Desktop Entry]
Version=1.0
Type=Application
Name=Instagram
Comment=
Exec=webbox https://www.instagram.com /data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/ig_logo.png Instagram 600 400 /data/data/com.termux/files/usr/lib/webbox_lib/cookies_webbox/cookies_ig.txt
Icon=/data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/ig_logo.png
Path=
Terminal=false
StartupNotify=false
