[Desktop Entry]
Version=1.0
Type=Application
Name=WhatsApp
Comment=
Exec=webbox https://web.whatsapp.com /data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/wa_logo.png WhatsApp-Web 600 400 /data/data/com.termux/files/usr/lib/webbox_lib/cookies_webbox/cookies_wa.txt
Icon=/data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/wa_logo.png
Path=
Terminal=false
StartupNotify=false
