[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Comment=
Exec=webbox https://www.youtube.com /data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/yt_logo.png YouTube 600 400 /data/data/com.termux/files/usr/lib/webbox_lib/cookies_webbox/cookies_yt.txt
Icon=/data/data/com.termux/files/usr/lib/webbox_lib/icon_webbox/yt_logo.png
Path=
Terminal=false
StartupNotify=false
